.DS_Store
*.exe
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.idb
*.ilk
/.qmake.cache
/.qmake.stash
*.user
*.user.*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*-build-*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
*.obj
*.pdb
*.sdf
